* {
    box-sizing: border;
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    margin: 50px;
}
#first {
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    margin-left: 50px;
}